@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #e5ebef;
    --primary: #f39c12;
    --green: #1a2f33;
}

html {
    font-family: "Belleza", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    color: var(--white);
    background-image: url("/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}

::-webkit-scrollbar {
    width: 0.9vw;
    background: var(--green);
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #d38911;
}

.active {
    border-color: var(--primary);
}
